@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Inconsolata", monospace;
}
